@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* &__burger {
     display: none;
  } */
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
@media (max-width: 769px) {
  .header__container {
    min-height: 45px;
  }
}
.header .header__logo {
  font-family: Domine;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding: 44px 14px 14px 14px;
  margin: 0px 50px 0px 0px;
  background-color: #fa5c65;
  letter-spacing: 1.2px;
  border-radius: 0 0 10px 10px;
  z-index: 4;
}
@media (max-width: 769px) {
  .header .header__logo {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .header .header__logo {
    font-weight: 400;
    padding: 35px 8px 0px 8px;
    border-radius: 0 0 5px 5px;
  }
}
.header .header__logo span {
  color: #314a5b;
}
.header__menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  margin: 0px 30px 0px 0px;
}
.header__menu:last-child {
  margin: 0;
}
.header__menu .active {
  /* display: none; */
}
.header__social {
  display: flex;
}
.header__social a:not(:last-child) {
  margin: 0px 23px 0px 0px;
}
@media (max-width: 768px) {
  .header__social a:not(:last-child) {
    margin: 0px 45px 0px 0px;
  }
}
@media (max-width: 400px) {
  .header__social {
    /*  & a:not(:last-child) {
       margin: 0px 20px 0px 10px;
    } */
  }
  .header__social:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  .header__social {
    padding-top: 20px;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}
.menu__link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #263742;
  line-height: 180%;
}

@media (max-width: 768px) {
  .header__container::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background-color: #fa5c65;
    z-index: 3;
  }

  .header__container .active {
    left: 0;
  }

  .header__container {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  .header__burger {
    top: 10px;
  }
}
@media (max-width: 768px) {
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    background-color: #000;
  }
}
@media (max-width: 768px) {
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .header__burger::before {
    top: 0;
  }
}
@media (max-width: 768px) {
  .header__burger::after {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 768px) {
  .header__burger.active::before {
    transform: rotate(45deg);
    background-color: #fff;
    top: 9px;
  }
}
@media (max-width: 768px) {
  .header__burger.active::after {
    transform: rotate(-45deg);
    background-color: #fff;
    bottom: 9px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fa5c65;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .menu__list {
    display: block;
  }
}
@media (max-width: 768px) {
  .menu__list li:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    display: block;
    padding: 100px 0px 0px 20px;
  }
}
@media (max-width: 768px) {
  .menu__link {
    color: #fff;
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  /* .header__logo {
     font-weight: 400;
  } */
  .header__container {
    min-height: 30px;
  }

  .header__menu {
    padding: 60px 0px 0px 20px;
  }
}
.page {
  flex: 1 1 auto;
}

.inteligence__main-block {
  position: relative;
}
.inteligence__main-block .inteligence__body {
  padding: 380px 0px 383px 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__body {
    padding: 210px 0px 200px 0px;
  }
}
.inteligence__main-block .inteligence__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110.4166666667%;
  color: #314a5b;
}
.inteligence__main-block .inteligence__title span {
  color: #fa5c65;
}
.inteligence__main-block .inteligence__title:not(:last-child) {
  padding: 0px 0px 10px 0px;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__title {
    font-size: 35px;
  }
}
.inteligence__main-block .inteligence__sub-title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
  color: #314a5b;
}
.inteligence__main-block .inteligence__sub-title:not(:last-child) {
  padding: 0px 0px 41px 0px;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__sub-title {
    font-size: 16px;
  }
}
.inteligence__main-block .inteligence__sub-title:not(:last-child) {
  padding: 0px 0px 30px 0px;
}
.botton-inteligence__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 64px;
  font-size: 15px;
  font-weight: 700;
  line-height: 266.6666666667%;
  background-color: #fa5c65;
  color: #fff;
  padding: 0px 41px;
  border-radius: 10px;
  font-family: "Open Sans";
}
@media (max-width: 769px) {
  .botton-inteligence__link {
    min-height: 55px;
    font-weight: 600;
    padding: 0px 30px;
    border-radius: 6px;
  }
}

.main__screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* @media (max-width: 590px) {
     & img {
        object-position: 60%;
     } */
}
.main__screen img {
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 890px) {
  .main__screen img {
    -o-object-position: 56%;
       object-position: 56%;
  }
}
@media (max-width: 660px) {
  .main__screen img {
    -o-object-position: 25%;
       object-position: 25%;
    opacity: 0.8;
  }
}
@media (max-width: 630px) {
  .main__screen img {
    -o-object-position: 50%;
       object-position: 50%;
  }
}
@media (max-width: 450px) {
  .main__screen img {
    -o-object-position: 70%;
       object-position: 70%;
  }
}
@media (max-width: 330px) {
  .main__screen img {
    -o-object-position: 80%;
       object-position: 80%;
  }
}
@media (max-width: 325px) {
  .main__screen img {
    opacity: 0.7;
  }
}