@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* &__burger {
     display: none;
  } */
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
@media (max-width: 769px) {
  .header__container {
    min-height: 45px;
  }
}
.header .header__logo {
  font-family: Domine;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding: 44px 14px 14px 14px;
  margin: 0px 50px 0px 0px;
  background-color: #fa5c65;
  letter-spacing: 1.2px;
  border-radius: 0 0 10px 10px;
  z-index: 4;
}
@media (max-width: 769px) {
  .header .header__logo {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .header .header__logo {
    font-weight: 400;
    padding: 35px 8px 0px 8px;
    border-radius: 0 0 5px 5px;
  }
}
.header .header__logo span {
  color: #314a5b;
}
.header__menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  margin: 0px 30px 0px 0px;
}
.header__menu:last-child {
  margin: 0;
}
.header__menu .active {
  /* display: none; */
}
.header__social {
  display: flex;
}
.header__social a:not(:last-child) {
  margin: 0px 23px 0px 0px;
}
@media (max-width: 768px) {
  .header__social a:not(:last-child) {
    margin: 0px 45px 0px 0px;
  }
}
@media (max-width: 400px) {
  .header__social:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  .header__social {
    padding-top: 20px;
  }
}
@media (max-width: 285px) {
  .header__social a:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}
.menu__link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #263742;
  line-height: 180%;
}

@media (max-width: 768px) {
  .header__container::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background-color: #fa5c65;
    z-index: 3;
  }

  .header__container .active {
    left: 0;
  }

  .header__container {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  .header__burger {
    top: 10px;
  }
}
@media (max-width: 768px) {
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    background-color: #000;
  }
}
@media (max-width: 768px) {
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .header__burger::before {
    top: 0;
  }
}
@media (max-width: 768px) {
  .header__burger::after {
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 768px) {
  .header__burger.active::before {
    transform: rotate(45deg);
    background-color: #fff;
    top: 9px;
  }
}
@media (max-width: 768px) {
  .header__burger.active::after {
    transform: rotate(-45deg);
    background-color: #fff;
    bottom: 9px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fa5c65;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .menu__list {
    display: block;
  }
}
@media (max-width: 768px) {
  .menu__list li:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    display: block;
    padding: 100px 0px 0px 20px;
  }
}
@media (max-width: 768px) {
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  /* .header__logo {
     font-weight: 400;
  } */
  .header__container {
    min-height: 30px;
  }

  .header__menu {
    padding: 60px 0px 0px 20px;
  }
}
.page {
  flex: 1 1 auto;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 769px) {
  .page {
    margin: 0px 0px 45px 0px;
  }
}
@media (max-width: 430px) {
  .page {
    margin: 0px 0px 35px 0px;
  }
}
@media (max-width: 285px) {
  .page {
    margin: 0px 0px 25px 0px;
  }
}

.inteligence__main-block {
  position: relative;
}
.inteligence__main-block .inteligence__body {
  padding: 380px 0px 383px 0px;
  margin: 0px 0px 86px 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__body {
    padding: 210px 0px 170px 0px;
    margin: 0px 0px 65px 0px;
  }
}
@media (max-width: 490px) {
  .inteligence__main-block .inteligence__body {
    margin: 0px 0px 45px 0px;
  }
}
.inteligence__main-block .inteligence__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110.4166666667%;
  color: #314a5b;
}
.inteligence__main-block .inteligence__title span {
  color: #fa5c65;
}
.inteligence__main-block .inteligence__title:not(:last-child) {
  padding: 0px 0px 10px 0px;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__title {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .inteligence__main-block .inteligence__title {
    font-size: 32px;
  }
}
@media (max-width: 430px) {
  .inteligence__main-block .inteligence__title {
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  .inteligence__main-block .inteligence__title:not(:last-child) {
    padding-top: 26%;
  }
}
@media (max-width: 330px) {
  .inteligence__main-block .inteligence__title {
    font-size: 23px;
  }
  .inteligence__main-block .inteligence__title:not(:last-child) {
    padding-top: 40%;
  }
}
@media (max-width: 282px) {
  .inteligence__main-block .inteligence__title {
    font-size: 20px;
    color: #1f2f3a;
  }
}
.inteligence__main-block .inteligence__sub-title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
  color: #314a5b;
}
.inteligence__main-block .inteligence__sub-title:not(:last-child) {
  padding: 0px 0px 41px 0px;
}
@media (max-width: 769px) {
  .inteligence__main-block .inteligence__sub-title {
    font-size: 16px;
  }
}
.inteligence__main-block .inteligence__sub-title:not(:last-child) {
  padding: 0px 0px 30px 0px;
}
@media (max-width: 600px) {
  .inteligence__main-block .inteligence__sub-title {
    padding: 0px 0px 25px 0px;
  }
}
@media (max-width: 330px) {
  .inteligence__main-block .inteligence__sub-title {
    font-size: 14px;
  }
  .inteligence__main-block .inteligence__sub-title:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 282px) {
  .inteligence__main-block .inteligence__sub-title {
    font-size: 14px;
    color: #090e11;
    line-height: 120%;
  }
}
.botton-inteligence__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 64px;
  font-size: 15px;
  font-weight: 700;
  line-height: 266.6666666667%;
  background-color: #fa5c65;
  color: #fff;
  padding: 0px 41px;
  border-radius: 10px;
  font-family: "Open Sans";
}
@media (max-width: 769px) {
  .botton-inteligence__link {
    min-height: 55px;
    font-weight: 600;
    padding: 0px 30px;
    border-radius: 6px;
  }
}
@media (max-width: 330px) {
  .botton-inteligence__link {
    display: flex;
    flex: 1 1 100%;
  }
}

.main__screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main__screen img {
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 890px) {
  .main__screen img {
    -o-object-position: 56%;
       object-position: 56%;
  }
}
@media (max-width: 660px) {
  .main__screen img {
    -o-object-position: 25%;
       object-position: 25%;
    opacity: 0.8;
  }
}
@media (max-width: 630px) {
  .main__screen img {
    -o-object-position: 50%;
       object-position: 50%;
  }
}
@media (max-width: 450px) {
  .main__screen img {
    -o-object-position: 70%;
       object-position: 70%;
    opacity: 0.7;
  }
}
@media (max-width: 330px) {
  .main__screen img {
    -o-object-position: 80%;
       object-position: 80%;
  }
}
@media (max-width: 325px) {
  .main__screen img {
    opacity: 0.7;
  }
}

.description {
  margin: 0px 0px 57px 0px;
}
.description__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
@media (max-width: 769px) {
  .description {
    margin: 0px 0px 10px 0px;
  }
}

.body-description__column {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  flex: 1 1 33.333%;
  min-width: 270px;
}
@media (max-width: 769px) {
  .body-description__column:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 430px) {
  .body-description__column:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.title {
  font-family: Montserrat;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: #465065;
}
@media (max-width: 769px) {
  .title {
    font-size: 23px;
  }
}
@media (max-width: 605px) {
  .title {
    font-size: 18px;
  }
}

.title:not(:last-child) {
  padding: 0px 0px 24px 0px;
}

@media (max-width: 769px) {
  .title:not(:last-child) {
    padding: 0px 0px 18px 0px;
  }
}
.title span {
  color: #f0454c;
}

.subtitle {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 146.6666666667%;
  font-weight: 400;
  color: #9aa0ab;
  flex: 1 1 auto;
}
@media (max-width: 769px) {
  .subtitle {
    font-size: 14px;
    color: #696f79;
  }
}

.subtitle:not(:last-child) {
  padding: 0px 0px 29px 0px;
}

@media (max-width: 769px) {
  .subtitle:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }
}
._button {
  display: inline;
}

.link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 400;
  text-transform: uppercase;
  color: #f0454c;
}

.link::after {
  content: "→";
  position: relative;
  bottom: 1px;
  left: 10px;
}

.page__portfolio {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 769px) {
  .page__portfolio {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 325px) {
  .page__portfolio {
    margin: 0px 0px 15px 0px;
  }
}

.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.portfolio .item {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
}
@media (max-width: 605px) {
  .portfolio .item {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
  }
}
.portfolio__image img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio-body {
  padding: 0px 0px 0px 5px;
  color: #314a5b;
}
.portfolio-body__title {
  font-family: Montserrat;
  font-size: 40px;
  line-height: 115%;
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: ; */
}
@media (max-width: 769px) {
  .portfolio-body__title {
    font-size: 35px;
  }
}
.portfolio-body__title span {
  color: #f0454c;
}
.portfolio-body__title:not(:last-child) {
  margin: 0px 0px 17px 0px;
}
@media (max-width: 769px) {
  .portfolio-body__title:not(:last-child):not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.portfolio-body__subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  color: #314a5b;
}
@media (max-width: 769px) {
  .portfolio-body__subtitle {
    font-size: 14px;
    color: #20313b;
  }
}
.portfolio-body__subtitle:not(:last-child) {
  margin: 0px 0px 29px 0px;
}
@media (max-width: 769px) {
  .portfolio-body__subtitle:not(:last-child):not(:last-child) {
    margin: 0px 0px 16px 0px;
  }
}
.portfolio-body__text {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 146.6666666667%;
  font-weight: 400;
  color: #9aa0ab;
}
.portfolio-body__text p:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 480px) {
  .portfolio-body__text p:not(:last-child):not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 380px) {
  .portfolio-body__text p:not(:last-child):not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 769px) {
  .portfolio-body__text {
    font-size: 12px;
    color: #494c52;
  }
}
.portfolio-body__text:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.portfolio-body__text:not(:last-child):not(:last-child) {
  margin: 0px 0px 18px 0px;
}
.portfolio-body .button {
  display: inline-block;
}
.portfolio-body__link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 400;
  text-transform: uppercase;
  color: #f0454c;
}

.team__head {
  margin: 0px 0px 40px 0px;
}
.team__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 55px 0px;
  margin: 0px -12px;
}
@media (max-width: 769px) {
  .team__row {
    padding: 0px 0px 40px 0px;
  }
}
@media (max-width: 430px) {
  .team__row {
    padding: 0px 0px 25px 0px;
  }
}

.team__block {
  display: flex;
  flex-direction: column;
}

.head {
  width: 100%;
}
.head__title {
  font-family: Montserrat;
  font-size: 32px;
  line-height: 165.625%;
  font-weight: 700;
  text-transform: uppercase;
  color: #314a5b;
  letter-spacing: 0.2px;
}
.head__title span {
  color: #f0454c;
}
@media (max-width: 769px) {
  .head__title {
    font-size: 28px;
    line-height: 156.25%;
  }
}
.head__subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  color: #9aa0ab;
}

.team-body__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-body {
  display: flex;
  flex: 1 1 33.333%;
  height: 100%;
  min-width: 275px;
  padding: 0px 12px;
}
@media (max-width: 830px) {
  .team-body:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 380px) {
  .team-body {
    flex-direction: column;
    align-items: center;
  }
}
.team-body__title {
  font-family: Montserrat;
  font-size: 22px;
  line-height: 113.6363636364%;
  font-weight: 700;
  color: #314a5b;
}
.team-body__subtitle {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 142.8571428571%;
  font-weight: 400;
  color: #f0454c;
  padding: 0px 0px 10px 0px;
}
.team-body__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 114.2857142857%;
  font-weight: 400;
  color: #9aa0ab;
}
.team-body__photo {
  /* align-self: center; */
  margin: 0px 20px 0px 0px;
}
@media (max-width: 380px) {
  .team-body__photo {
    margin: 0px 0px 15px 0px;
  }
}
.team-body__photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #ffffff;
  box-shadow: inset 2px 4px 9px 0px rgba(1, 1, 1, 0.05);
}

.team__button {
  align-self: end;
}

.footer {
  margin: 0px 0px 41px 0px;
}
@media (max-width: 550px) {
  .footer {
    margin: 0px 0px 25px 0px;
  }
}
.footer .line {
  border-top: #e6eaed 1px solid;
  width: 100%;
  margin: 0px 0px 33px 0px;
}
@media (max-width: 550px) {
  .footer .line {
    margin: 0px 0px 30px 0px;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .footer__body {
    flex-direction: column;
    align-items: center;
  }
}
.footer__social a:not(:last-child) {
  margin: 0px 22px 0px 0px;
}
@media (max-width: 550px) {
  .footer__social {
    margin: 0px 0px 10px 0px;
  }
}
.footer__rights {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 153.8461538462%;
  font-weight: 400;
  color: #b9c0c6;
  text-align: center;
}