// Файл обнуляющих стилей
@import "_nullstyle";

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
[class*="__container"] {
   max-width: 940px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   &__container {
      display: flex;
      height: 75px;
      align-items: center;
   }
   &__logo {
      position: relative;
      font-family: Domine;
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      line-height: 315%;
      padding: 40px 14px 14px 14px;
      background-color: #fa5c65;
      letter-spacing: 1.2px;
      border-radius: 0 0 10px 10px;

      & span {
         color: #314a5b;
      }
   }

   &__menu {
      display: flex;
      flex: 1 1 auto;
      justify-content: end;
   }

   &__social {
   }
}
.menu {
   &__list {
      display: flex;
   }

   &__item {
   }

   &__link {
   }
}
.twiter {
   &__linc {
   }
}

.main {
   flex: 1 1 auto;
}
.footer {
}
