// Файл обнуляющих стилей
@import "_nullstyle";
// * ============================= Обертка
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
// * ============================= Ограничевающий контейнер
[class*="__container"] {
   max-width: 940px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}
// * ============================= IBG
._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

// * ============================= Header
@media (max-width: 769px) {
   body.lock {
      overflow: hidden;
   }
}

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 75px;
      @media (max-width: 769px) {
         & {
            min-height: 45px;
         }
      }
   }

   .header__logo {
      font-family: Domine;
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      padding: 44px 14px 14px 14px;
      margin: 0px 50px 0px 0px;
      background-color: #fa5c65;
      letter-spacing: 1.2px;
      border-radius: 0 0 10px 10px;
      z-index: 4;
      @media (max-width: 769px) {
         & {
            margin: 0;
         }
      }
      @media (max-width: 400px) {
         & {
            font-weight: 400;
            padding: 35px 8px 0px 8px;
            border-radius: 0 0 5px 5px;
         }
      }
      & span {
         color: #314a5b;
      }
   }

   &__menu {
      display: flex;
      flex: 1 1 auto;
      justify-content: end;
      margin: 0px 30px 0px 0px;
      &:last-child {
         margin: 0;
      }
   }
   &__menu .active {
      /* display: none; */
   }
   /* &__burger {
      display: none;
   } */

   &__social {
      display: flex;
      & a:not(:last-child) {
         margin: 0px 23px 0px 0px;
      }
      @media (max-width: 939px) {
      }
      @media (max-width: 768px) {
         & a:not(:last-child) {
            margin: 0px 45px 0px 0px;
         }
      }
      @media (max-width: 400px) {
         &:not(:last-child) {
            margin: 0px 10px 0px 0px;
         }
         & {
            padding-top: 20px;
         }
      }
      @media (max-width: 285px) {
         & a:not(:last-child) {
            margin: 0px 20px 0px 0px;
         }
      }

      .twiter__link {
      }
      .facebook__link {
      }
   }
}

.menu {
   &__list {
      display: flex;
      flex-wrap: wrap;
   }
   &__item:not(:last-child) {
      margin: 0px 35px 0px 0px;
   }

   &__link {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #263742;
      line-height: 180%;
   }
}
@media (max-width: 768px) {
   .header__container::before {
      content: "";
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 40px;
      background-color: #fa5c65;
      z-index: 3;
   }
   .header__container .active {
      left: 0;
   }

   .header__container {
      height: 40px;
   }

   .header__burger {
      display: block;
      position: relative;
      top: 0;
      right: 0;
      width: 30px;
      height: 20px;
      z-index: 4;
      @media (max-width: 400px) {
         & {
            top: 10px;
         }
      }
      & span {
         position: absolute;
         width: 100%;
         height: 2px;
         top: 9px;
         left: 0;
         background-color: #000;
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      &.active span {
         transform: scale(0);
      }
      &.active::before {
         transform: rotate(45deg);
         background-color: #fff;
         top: 9px;
      }
      &.active::after {
         transform: rotate(-45deg);
         background-color: #fff;
         bottom: 9px;
      }
   }

   .header__menu {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fa5c65;
      overflow: auto;
      transition: all 0.3s ease 0s;
   }
   .menu__list {
      display: block;
   }
   .menu__list li:not(:last-child) {
      padding: 0px 0px 20px 0px;
   }
   .header__menu {
      display: block;
      padding: 100px 0px 0px 20px;
   }
   .menu__item {
   }
   .menu__link {
      color: #fff;
      font-size: 20px;
   }
}
@media (max-width: 400px) {
   /* .header__logo {
      font-weight: 400;
   } */
   .header__container {
      min-height: 30px;
   }
   .header__menu {
      padding: 60px 0px 0px 20px;
   }
}
// * ============================= Main
.page {
   flex: 1 1 auto;
   margin: 0px 0px 60px 0px;
   @media (max-width: 769px) {
      margin: 0px 0px 45px 0px;
   }
   @media (max-width: 430px) {
      margin: 0px 0px 35px 0px;
   }
   @media (max-width: 285px) {
      margin: 0px 0px 25px 0px;
   }
}
.inteligence__main-block {
   position: relative;
   .inteligence {
      &__body {
         padding: 380px 0px 383px 0px;
         margin: 0px 0px 86px 0px;
         position: relative;
         z-index: 2;
         @media (max-width: 769px) {
            & {
               padding: 210px 0px 170px 0px;
               margin: 0px 0px 65px 0px;
            }
         }
         @media (max-width: 490px) {
            & {
               margin: 0px 0px 45px 0px;
            }
         }
      }

      &__title {
         font-family: Montserrat;
         font-size: 48px;
         font-weight: 700;
         text-transform: uppercase;
         line-height: calc(53 / 48 * 100%);
         color: #314a5b;
         & span {
            color: #fa5c65;
         }
         &:not(:last-child) {
            padding: 0px 0px 10px 0px;
         }
         @media (max-width: 769px) {
            & {
               font-size: 35px;
            }
         }
         @media (max-width: 600px) {
            & {
               font-size: 32px;
            }
         }
         @media (max-width: 430px) {
            & {
               font-size: 25px;
            }
         }
         @media (max-width: 430px) {
            &:not(:last-child) {
               padding-top: 26%;
            }
         }
         @media (max-width: 330px) {
            & {
               font-size: 23px;
            }
            &:not(:last-child) {
               & {
                  padding-top: 40%;
               }
            }
         }
         @media (max-width: 282px) {
            & {
               font-size: 20px;
               color: #1f2f3a;
            }
         }
      }

      &__sub-title {
         font-family: "Open Sans";
         font-size: 20px;
         font-weight: 400;
         line-height: 170%;
         color: #314a5b;
         &:not(:last-child) {
            padding: 0px 0px 41px 0px;
         }
         @media (max-width: 769px) {
            & {
               font-size: 16px;
            }
         }
         &:not(:last-child) {
            padding: 0px 0px 30px 0px;
         }
         @media (max-width: 600px) {
            & {
               padding: 0px 0px 25px 0px;
            }
         }
         @media (max-width: 330px) {
            & {
               font-size: 14px;
            }
            &:not(:last-child) {
               padding: 0px 0px 20px 0px;
            }
         }
         @media (max-width: 282px) {
            & {
               font-size: 14px;
               color: #090e11;
               line-height: 120%;
            }
         }
      }

      &__botton {
      }
   }
}
.botton {
}
.botton-inteligence__link {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 64px;
   font-size: 15px;
   font-weight: 700;
   line-height: calc(40 / 15 * 100%);
   background-color: #fa5c65;
   color: #fff;
   padding: 0px 41px;
   border-radius: 10px;
   font-family: "Open Sans";
   &__link {
   }
   @media (max-width: 769px) {
      min-height: 55px;
      font-weight: 600;
      padding: 0px 30px;
      border-radius: 6px;
   }
   @media (max-width: 330px) {
      & {
         display: flex;
         flex: 1 1 100%;
      }
   }
}

.main__screen {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   & img {
      object-position: top;
   }
   @media (max-width: 890px) {
      & img {
         object-position: 56%;
      }
   }
   @media (max-width: 660px) {
      & img {
         object-position: 25%;
         opacity: 0.8;
      }
   }
   @media (max-width: 630px) {
      & img {
         object-position: 50%;
      }
   }
   @media (max-width: 450px) {
      & img {
         object-position: 70%;
         opacity: 0.7;
      }
   }
   @media (max-width: 330px) {
      & img {
         object-position: 80%;
      }
   }
   @media (max-width: 325px) {
      & img {
         opacity: 0.7;
      }
   }
}

// * ============================= Description
.page {
   &__description {
   }
}
.description {
   margin: 0px 0px 57px 0px;
   &__container {
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
   }
   @media (max-width: 769px) {
      & {
         margin: 0px 0px 10px 0px;
      }
   }
}
.body-description {
   &__column {
      display: flex;
      flex-direction: column;
      padding: 0px 15px;
      flex: 1 1 33.333%;
      min-width: 270px;
      @media (max-width: 769px) {
         &:not(:last-child) {
            margin: 0px 0px 40px 0px;
         }
      }
      @media (max-width: 430px) {
         &:not(:last-child) {
            margin: 0px 0px 20px 0px;
         }
      }
   }
   @media (max-width: 769px) {
   }
}
.title {
   font-family: Montserrat;
   font-size: 26px;
   line-height: calc(26 / 26 * 100%);
   font-weight: 700;
   text-transform: uppercase;
   color: #465065;
   @media (max-width: 769px) {
      & {
         font-size: 23px;
      }
   }
   @media (max-width: 605px) {
      & {
         font-size: 18px;
      }
   }
}
.title:not(:last-child) {
   padding: 0px 0px 24px 0px;
}
@media (max-width: 769px) {
   .title:not(:last-child) {
      padding: 0px 0px 18px 0px;
   }
}
.title span {
   color: #f0454c;
}
.subtitle {
   font-family: "Open Sans";
   font-size: 15px;
   line-height: calc(22 / 15 * 100%);
   font-weight: 400;
   color: #9aa0ab;
   flex: 1 1 auto;
   @media (max-width: 769px) {
      & {
         font-size: 14px;
         color: #696f79;
      }
   }
}
.subtitle:not(:last-child) {
   padding: 0px 0px 29px 0px;
}
@media (max-width: 769px) {
   .subtitle:not(:last-child) {
      padding: 0px 0px 20px 0px;
   }
}
.description__button {
}
._button {
   display: inline;
}
.link {
   font-family: Montserrat;
   font-size: 14px;
   line-height: calc(20 / 14 * 100%);
   font-weight: 400;
   text-transform: uppercase;
   color: #f0454c;
}
.link::after {
   content: "→";
   position: relative;
   bottom: 1px;
   left: 10px;
}
// * ============================= Portfolio
.page {
   &__portfolio {
      margin: 0px 0px 45px 0px;
      @media (max-width: 769px) {
         & {
            margin: 0px 0px 25px 0px;
         }
      }
      @media (max-width: 325px) {
         & {
            margin: 0px 0px 15px 0px;
         }
      }
   }
}
.portfolio {
   &__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
   }
   .item {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 50%;
   }
   @media (max-width: 605px) {
      .item {
         display: flex;
         flex: 0 0 100%;
         justify-content: center;
      }
   }
   &__image {
      & img {
         max-width: 100%;
         object-fit: contain;
      }
   }
}

.portfolio-body {
   padding: 0px 0px 0px 5px;

   &__title {
      font-family: Montserrat;
      font-size: 40px;
      line-height: calc(46 / 40 * 100%);
      font-weight: 700;
      text-transform: uppercase;
      /* letter-spacing: ; */
      @media (max-width: 769px) {
         & {
            font-size: 35px;
         }
      }
   }
   color: #314a5b;
   &__title span {
      color: #f0454c;
   }
   &__title:not(:last-child) {
      margin: 0px 0px 17px 0px;
      @media (max-width: 769px) {
         &:not(:last-child) {
            margin: 0px 0px 10px 0px;
         }
      }
   }

   &__subtitle {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: calc(20 / 16 * 100%);
      font-weight: 400;
      color: #314a5b;
      @media (max-width: 769px) {
         & {
            font-size: 14px;
            color: #20313b;
         }
      }
   }
   &__subtitle:not(:last-child) {
      margin: 0px 0px 29px 0px;
      @media (max-width: 769px) {
         &:not(:last-child) {
            margin: 0px 0px 16px 0px;
         }
      }
   }

   &__text {
      font-family: "Open Sans";
      font-size: 15px;
      line-height: calc(22 / 15 * 100%);
      font-weight: 400;
      color: #9aa0ab;
      & p:not(:last-child) {
         margin: 0px 0px 30px 0px;
         @media (max-width: 480px) {
            &:not(:last-child) {
               margin: 0px 0px 20px 0px;
            }
         }

         @media (max-width: 380px) {
            &:not(:last-child) {
               margin: 0px 0px 15px 0px;
            }
         }
      }
      @media (max-width: 769px) {
         & {
            font-size: 12px;
            color: #494c52;
         }
      }
   }
   &__text:not(:last-child) {
      margin: 0px 0px 25px 0px;
      &:not(:last-child) {
         margin: 0px 0px 18px 0px;
      }
   }
   .button {
      display: inline-block;
   }
   &__link {
      font-family: Montserrat;
      font-size: 14px;
      line-height: calc(20 / 14 * 100%);
      font-weight: 400;
      text-transform: uppercase;
      color: #f0454c;
   }
}
// * ============================= Our team

.page {
   &__team {
   }
}
.team {
   &__container {
   }

   &__head {
      margin: 0px 0px 40px 0px;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 0px 55px 0px;
      margin: 0px -12px;
      @media (max-width: 769px) {
         padding: 0px 0px 40px 0px;
      }
      @media (max-width: 430px) {
         padding: 0px 0px 25px 0px;
      }
   }
}
.team__block {
   display: flex;
   flex-direction: column;
}
.head {
   width: 100%;

   &__title {
      font-family: Montserrat;
      font-size: 32px;
      line-height: calc(53 / 32 * 100%);
      font-weight: 700;
      text-transform: uppercase;
      color: #314a5b;
      letter-spacing: 0.2px;
      & span {
         color: #f0454c;
      }
      @media (max-width: 769px) {
         & {
            font-size: 28px;
            line-height: calc(50 / 32 * 100%);
         }
      }
   }

   &__subtitle {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: calc(20 / 16 * 100%);
      font-weight: 400;
      color: #9aa0ab;
   }
}
.team-card {
   &__body {
   }
}
.team-body__information {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.team-body {
   display: flex;
   flex: 1 1 33.333%;
   height: 100%;
   min-width: 275px;
   padding: 0px 12px;
   @media (max-width: 830px) {
      &:not(:last-child) {
         margin: 0px 0px 25px 0px;
      }
   }
   @media (max-width: 380px) {
      & {
         flex-direction: column;
         align-items: center;
      }
   }

   &__title {
      font-family: Montserrat;
      font-size: 22px;
      line-height: calc(25 / 22 * 100%);
      font-weight: 700;
      color: #314a5b;
   }

   &__subtitle {
      font-family: "Open Sans";
      font-size: 14px;
      line-height: calc(20 / 14 * 100%);
      font-weight: 400;
      color: #f0454c;
      padding: 0px 0px 10px 0px;
   }

   &__text {
      font-family: "Open Sans";
      font-size: 14px;
      line-height: calc(16 / 14 * 100%);
      font-weight: 400;
      color: #9aa0ab;
   }

   &__photo {
      /* align-self: center; */
      margin: 0px 20px 0px 0px;
      @media (max-width: 380px) {
         margin: 0px 0px 15px 0px;
      }
      & img {
         width: 120px;
         height: 120px;
         border-radius: 50%;
         overflow: hidden;
         display: inline-block;
         object-fit: cover;
         background-color: #ffffff;
         box-shadow: inset 2px 4px 9px 0px rgba(1, 1, 1, 0.05);
      }
   }
}
.team__button {
   align-self: end;
}

// * ============================= Footer

.footer {
   margin: 0px 0px 41px 0px;
   @media (max-width: 550px) {
      margin: 0px 0px 25px 0px;
   }
   .line {
      border-top: #e6eaed 1px solid;
      width: 100%;
      margin: 0px 0px 33px 0px;
      @media (max-width: 550px) {
         margin: 0px 0px 30px 0px;
      }
   }

   &__body {
      display: flex;
      justify-content: space-between;
      @media (max-width: 550px) {
         & {
            flex-direction: column;
            align-items: center;
         }
      }
   }

   &__social {
      a:not(:last-child) {
         margin: 0px 22px 0px 0px;
      }
      @media (max-width: 550px) {
         & {
            margin: 0px 0px 10px 0px;
         }
      }
   }

   &__rights {
      font-family: "Open Sans";
      font-size: 13px;
      line-height: calc(20 / 13 * 100%);
      font-weight: 400;
      color: #b9c0c6;
      text-align: center;
   }
}
.line {
}
