// Файл обнуляющих стилей
@import "_nullstyle";
// * ============================= Обертка
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
// * ============================= Ограничевающий контейнер
[class*="__container"] {
   max-width: 940px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}
// * ============================= IBG
._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

// * ============================= Header
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 75px;
      @media (max-width: 769px) {
         & {
            min-height: 45px;
         }
      }
   }

   .header__logo {
      font-family: Domine;
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      padding: 44px 14px 14px 14px;
      margin: 0px 50px 0px 0px;
      background-color: #fa5c65;
      letter-spacing: 1.2px;
      border-radius: 0 0 10px 10px;
      z-index: 4;
      @media (max-width: 769px) {
         & {
            margin: 0;
         }
      }
      @media (max-width: 400px) {
         & {
            font-weight: 400;
            padding: 35px 8px 0px 8px;
            border-radius: 0 0 5px 5px;
         }
      }
      & span {
         color: #314a5b;
      }
   }

   &__menu {
      display: flex;
      flex: 1 1 auto;
      justify-content: end;
      margin: 0px 30px 0px 0px;
      &:last-child {
         margin: 0;
      }
   }
   &__menu .active {
      /* display: none; */
   }
   /* &__burger {
      display: none;
   } */

   &__social {
      display: flex;
      & a:not(:last-child) {
         margin: 0px 23px 0px 0px;
      }
      @media (max-width: 939px) {
      }
      @media (max-width: 768px) {
         & a:not(:last-child) {
            margin: 0px 45px 0px 0px;
         }
      }
      @media (max-width: 400px) {
         /*  & a:not(:last-child) {
            margin: 0px 20px 0px 10px;
         } */
         &:not(:last-child) {
            margin: 0px 10px 0px 0px;
         }
         & {
            padding-top: 20px;
         }
      }

      .twiter__link {
      }
      .facebook__link {
      }
   }
}

.menu {
   &__list {
      display: flex;
      flex-wrap: wrap;
   }
   &__item:not(:last-child) {
      margin: 0px 35px 0px 0px;
   }

   &__link {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #263742;
      line-height: 180%;
   }
}
@media (max-width: 768px) {
   .header__container::before {
      content: "";
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 40px;
      background-color: #fa5c65;
      z-index: 3;
   }
   .header__container .active {
      left: 0;
   }

   .header__container {
      height: 40px;
   }

   .header__burger {
      display: block;
      position: relative;
      top: 0;
      right: 0;
      width: 30px;
      height: 20px;
      z-index: 4;
      @media (max-width: 400px) {
         & {
            top: 10px;
         }
      }
      & span {
         position: absolute;
         width: 100%;
         height: 2px;
         top: 9px;
         left: 0;
         background-color: #000;
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      &.active span {
         transform: scale(0);
      }
      &.active::before {
         transform: rotate(45deg);
         background-color: #fff;
         top: 9px;
      }
      &.active::after {
         transform: rotate(-45deg);
         background-color: #fff;
         bottom: 9px;
      }
   }

   .header__menu {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fa5c65;
      overflow: auto;
      transition: all 0.3s ease 0s;
   }
   .menu__list {
      display: block;
   }
   .menu__list li:not(:last-child) {
      padding: 0px 0px 20px 0px;
   }
   .header__menu {
      display: block;
      padding: 100px 0px 0px 20px;
   }
   .menu__item {
   }
   .menu__link {
      color: #fff;
      font-size: 24px;
   }
}
@media (max-width: 400px) {
   /* .header__logo {
      font-weight: 400;
   } */
   .header__container {
      min-height: 30px;
   }
   .header__menu {
      padding: 60px 0px 0px 20px;
   }
}
// * ============================= Main
.page {
   flex: 1 1 auto;
}
.inteligence__main-block {
   position: relative;
   .inteligence {
      &__container {
      }

      &__body {
         padding: 380px 0px 383px 0px;
         position: relative;
         z-index: 2;
         @media (max-width: 769px) {
            padding: 210px 0px 200px 0px;
         }
      }

      &__title {
         font-family: Montserrat;
         font-size: 48px;
         font-weight: 700;
         text-transform: uppercase;
         line-height: calc(53 / 48 * 100%);
         color: #314a5b;
         & span {
            color: #fa5c65;
         }
         &:not(:last-child) {
            padding: 0px 0px 10px 0px;
         }
         @media (max-width: 769px) {
            font-size: 35px;
         }
      }

      &__sub-title {
         font-family: "Open Sans";
         font-size: 20px;
         font-weight: 400;
         line-height: 170%;
         color: #314a5b;
         &:not(:last-child) {
            padding: 0px 0px 41px 0px;
         }
         @media (max-width: 769px) {
            & {
               font-size: 16px;
            }
         }
         &:not(:last-child) {
            padding: 0px 0px 30px 0px;
         }
      }

      &__botton {
      }
   }
}
.botton {
}
.botton-inteligence__link {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 64px;
   font-size: 15px;
   font-weight: 700;
   line-height: calc(40 / 15 * 100%);
   background-color: #fa5c65;
   color: #fff;
   padding: 0px 41px;
   border-radius: 10px;
   font-family: "Open Sans";
   &__link {
   }
   @media (max-width: 769px) {
      min-height: 55px;
      font-weight: 600;
      padding: 0px 30px;
      border-radius: 6px;
   }
}

.main__screen {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   & img {
      object-position: top;
   }
   @media (max-width: 890px) {
      & img {
         object-position: 56%;
      }
   }
   @media (max-width: 660px) {
      & img {
         object-position: 25%;
         opacity: 0.8;
      }
   }
   @media (max-width: 630px) {
      & img {
         object-position: 50%;
      }
   }
   /* @media (max-width: 590px) {
      & img {
         object-position: 60%;
      } */
   @media (max-width: 450px) {
      & img {
         object-position: 70%;
      }
   }
   @media (max-width: 330px) {
      & img {
         object-position: 80%;
      }
   }
   @media (max-width: 325px) {
      & img {
         opacity: 0.7;
      }
   }
}

// * ============================= Footer
.footer {
}
